
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Team-6 API</title>
  


<style>
body{
background-image: url('https://news.yale.edu/sites/default/files/styles/featured_media/public/adobestock_276205639.jpeg?itok=PjcxEgaC&c=07307e7d6a991172b9f808eb83b18804');
  background_repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
.login{
top:100%;
}
.container{
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 300px;
  
  }

</style>
</head>

<body>
  <div class="container">
    <h1 style="color:blue;">Prediction:</h1>
    <h2>{{ prediction_text }}</h2>
    <h1 style="color:blue;">Advice:</h1>
    <h5 style="font-size:20px;">Diabetes is a serious disease that you cannot treat on your own. Your doctor will help you make a diabetes treatment plan that is right for you -- and that you can understand. You may also need other health care professionals on your diabetes treatment team, including a foot doctor, nutritionist, eye doctor, and a diabetes specialist (called an endocrinologist).
Treatment for diabetes requires keeping close watch over your blood sugar levels (and keeping them at a goal set by your doctor) with a combination of medications, exercise, and diet. By paying close attention to what and when you eat, you can minimize or avoid the "seesaw effect" of rapidly changing blood sugar levels, which can require quick changes in medication dosages, especially insulin. Find out how to choose the right diabetes treatment for you.</h5>
    </div>
    
    
    

</body>
</html>