
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Team-6 API</title>
  


<style>
body{
background-image: url('https://news.yale.edu/sites/default/files/styles/featured_media/public/adobestock_276205639.jpeg?itok=PjcxEgaC&c=07307e7d6a991172b9f808eb83b18804');
  background_repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
.login{
top:100%;
}
.container{
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
  
  }

</style>
</head>

<body>

    <div class="container">
    <h1 style="color:blue;">Prediction:</h1>
    <h2>{{ prediction_text }}</h2>
    <h1 style="color:blue;">Precautions:</h1>
    <h3>1. Cut Excess Sugar and Refined Carbs From Your Diet</h3>
    <h3>2. Work Out Regularly</h3>
    <h3>3. Drink Water as Your Primary Beverage</h3>
    <h3>4. Lose Weight If You’re Overweight or Obese</h3>
    <h3>5. Quit Smoking</h3>
    <h3>6. Follow a Very-Low-Carb Diet</h3>
    <h3>7. Watch Portion Sizes</h3>
    <h3>8. Avoid Sedentary Behaviors</h3>
    <h3>9. Eat a High-Fiber Diet</h3>
    <h3>10. Optimize Vitamin D Levels</h3>
    </div>
    
    
    

</body>
</html>